<h1>New Message</h1>

<form action="<%= user_messages_url(@user) %>" method="POST">
  <%= form_auth %>
  <textarea name="message[body]"><%= @message.body %></textarea>
  <br>
  <br>
  <button type="submit">Send</button>

</form>
