<!-- <div class="sign-up-heading">
	<h1>Sign In</h1>
</div> -->

<form class="sign-up-1" action="<%= session_url %>" method="POST">
  <%= form_auth %>

	<h1>Sign In</h1>

	<ul class="sign-in-content-list group">

		<li class="form-input sign-in-input">
				<label for="username">Username</label>
				<input type="text"
							id="username"
							name="user[username]"
              placeholder="Fancy Fancy">
		</li>

		<li class="form-input sign-in-input">
				<label for="password">Password</label>
				<input type="password"
							id="password"
							name="user[password]"
              placeholder="123456">
		</li>

		<li>
			<button type="submit" class="sign-in-button">Sign in</button>
		</li>
	</ul>

  <!-- <label for="username">Username</label>
  <input type="text"
         id="username"
         name="user[username]">
  <br>
  <br>
  <label for="password">Password</label>
  <input type="password"
         id="password"
         name="user[password]">
  <br>
  <br>
  <button type="submit" class="continue">Sign in</button> -->

</form>
