  <nav class="signed-in-nav">
    <ul class="signed-in-nav-list group">
      <li>
        <a href="/#users/<%= Doggystyle.currentUserId %>" id="profile-link">Profile</a>
				<!-- link_to "Profile", user_url(current_user) -->
      </li>
      <li>
        <!-- button_to "Sign out", session_url, method: :delete -->
				<a href="#" class="sign-out-button">
          Signout
        </a>
      </li>
    </ul>
  </nav>
  <main>
    <section class="sidebar">
      <figure class="sidebar-logo">
				Logo
        <!-- <img src="asset_path 'Doggystyle-logo.png'"> -->
      </figure>
      <ul class="sidebar-list">
        <li>
					<a href="/#">Browse Matches</a>
				</li>
        <li>
					<a href="/#users/inbox">Messages</a>
				</li>
        <li>
					<a href="/#users/visitors">Visitors</a>
				</li>
      </ul>
    </section>

  </main>
