  <nav class="signed-in-nav">
    <ul class="signed-in-nav-list group">
      <li>
        Profile
				<!-- link_to "Profile", user_url(current_user) -->
      </li>
      <li>
        <!-- button_to "Sign out", session_url, method: :delete -->
				Signout
      </li>
    </ul>
  </nav>
  <main>
    <section class="sidebar">
      <figure class="sidebar-logo">
				Logo
        <!-- <img src="asset_path 'Doggystyle-logo.png'"> -->
      </figure>
      <ul class="sidebar-list">
        <li>
					Browse Matches
					<!-- link_to "Browse Matches", users_url-->
				</li>
        <li>
					Messages
					<!-- link_to "Messages", inbox_url-->
				</li>
        <li>
					Visitors
					<!-- link_to "Visitors", visits_url-->
				</li>
      </ul>
    </section>
  </main>