<h1>Matches</h1>

<ul>
<% @users.each do |user| %>
  <li>
    <h3><%= button_to user.username, user_visits_url(user), method: :post %></h3>
    <p><%= user.age %></p>
    <p><%= user.breed_name %></p>
    <p><%= user.gender_name %></p>
  </li>
<% end %>

</ul>
