<h1>Sign Up 3</h1>

<form action="<%= users_url %>" method="POST">
  <%= form_auth %>

   <br>
   <br>
   <label for="username">Username</label>
   <input type="text"
          id="username"
          name="user[username]"
          value="<%= @user.username %>">

  <br>
  <br>
  <label for="password">Password</label>
  <input type="password"
         id="password"
				 value=""
         name="user[password]">

  <br>
  <br>
  <input type="submit" value="Sign Up">

</form>