<form class="sign-up-1" action="<%= users_url %>" method="POST">
  <%= form_auth %>

  <h1>Last step! Woof!</h1>

  <ul class="sign-up-content-list sign-up-3 group">
    <li class="form-input sign-up-2">

      <!-- <label for="username">Username</label> -->
      <input type="text"
             id="username"
             name="user[username]"
             value="<%= @user.username %>"
             placeholder="Username">

    </li>

    <li class="form-input sign-up-2">

      <!-- <label for="password">Password</label> -->
      <input type="password"
             id="password"
    				 value=""
             name="user[password]"
             placeholder="Password">

    </li>

    <li>
      <button type="submit" class="continue">Done!</button>
    </li>
  </ul>

</form>
