<div class="sign-up-heading">
  <h1>Last step! Woof!</h1>
</div>

<div class="sign-up-content">
  <form class="sign-up-1" action="<%= users_url %>" method="POST">
    <%= form_auth %>

    <ul class="sign-up-content-list group">

      <li>
        <label for="username">Username</label>
        <input type="text"
               id="username"
               name="user[username]"
               value="<%= @user.username %>">
      </li>

      <li>
        <label for="password">Password</label>
        <input type="password"
               id="password"
      				 value=""
               name="user[password]">
      </li>


      <li>
        <button type="submit" class="continue">Done!</button>
      </li>
    </ul>
  </form>
</div>

