/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, section, nav, div, figure, ul, li, h1, h2, h3, p, a, footer, button, input {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  color: inherit;
	background: transparent;
}

ul {
  list-style: none;
}

input {

  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  outline: none;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
  background: #2855A0;
  min-width: 750px;
}

body {
  font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	color: #D8DBE2;
//  color: #96B4FA;
  min-height: 850px;
  position: relative;
}

.group:after {
	display: block;
	content: "";
	clear: both;
}

/*Sign up*/

.sign-up-nav {
	position: relative;
  min-height: 150px;
}

.main-logo {
	height: 200px;
	width: 360px;
	margin: 0 auto;
  padding-top: 20px;
}

.main-logo > img {
	height: 100%;
	width: auto;
}

.sign-in-link {
	position: absolute;
	font-size: 12px;
	top: 30px;
	right: 120px;
	float: right;
	padding: 5px 10px;
	border: 1px solid #D8DBE2;
  cursor: pointer;
}

.sign-up-link {
	position: absolute;
	font-size: 12px;
	top: 30px;
	right: 30px;
	float: right;
	padding: 5px 10px;
	border: 1px solid #D8DBE2;
  cursor: pointer;
}

.sign-up-nav a {
  cursor: pointer;
}

.sign-in-link:hover {
	background: rgba(85,85,150,0.25);
	border: 1px solid #96B4FA;
	color: #96B4FA;
}

.sign-up-link:hover {
	background: rgba(85,85,150,0.25);
	border: 1px solid #96B4FA;
	color: #96B4FA;
}

.sign-up-content h1 {
  padding: 100px 0 100px 0;
	font-size: 25px;
	font-weight: 80;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.sign-up-content {
  position: relative;
  height: 500px;
  width: 900px;
  text-align: center;
  margin: auto;
}

.carousel {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.carousel > ul {
	height: 100%;
	width: 500%;
	cursor: pointer;
	transition: transform 1s;
}

.carousel > ul > li {
	float: left;
	height: 100%;
	width: 20%;
	background-position: 0 -100px;
  background-size: cover;
  background-repeat: no-repeat;
	transition: transform 1s;
}

.focus1 {
  transform: translateX(0);
}

.focus2 {
	transform: translateX(-20%);
}

.focus3{
	transform: translateX(-40%);
}

.focus4{
	transform: translateX(-60%);
}

.focus5{
	transform: translateX(-80%);
}

.background1 {
  background: image-url('homepage/pups_running.jpg');
}

.background2 {
  background: image-url('homepage/going_out.jpg');
}

.background3 {
  background: image-url('homepage/dog_friends.jpg');
}

.background4 {
  background: image-url('homepage/playing_fetch.jpg');
}

.background5 {
	background: image-url('homepage/window_dog.jpeg');
}

.opacity {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(36, 29, 29, 0.57);
}

.sign-up-1 {
  height: 100%;
}

.sign-up-content-list {
	width: 400px;
  margin: auto;
}

.sign-up-content-list > li {
	float: left;
	width: 80px;
  margin-right: 10px;
	height: 30px;
	text-align: center;

}
.sign-in-content-list {
  width: 200px;
  height: 200px;
  margin: -50px auto;
}

.sign-in-content-list > li {
  width: 200px;
  padding-bottom: 10px;
  text-align: center;
}

.sign-in-button {
  display: block;
  background-color: #8CCD32;
  padding: 10px 0;
  width: 200px;
  border-radius: 3px;
  margin-top: 15px;
  cursor: pointer;
  color: white;
  word-wrap: default;
}

.sign-in-button:hover {
  background: #abdb65;
}

.sign-in-input {
  display: block;
}

.form-input label {
  display: block;
  text-align: center;
  color: white;
  padding-bottom: 5px;
}

.form-input input {
  display: block;
  background: white;
  padding: 5px 10px;
  width: 180px;
  border-radius: 3px;
}

.prefix {
	padding-top: 5px;
  padding-left: 20px;
	color: white;
}

.dropdown {
	padding-top: 5px;
}



.continue {
  display: block;
  border-radius: 3px;
	background-color: #8CCD32;
  padding: 10px 0;
  width: 120px;
  border-radius: 3px;
	color: white;
  word-wrap: default;
  cursor: pointer;
}

.continue:hover {
	background: #abdb65;
}

.sign-up-footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 150px;
  background: white;
	color: #96B4FA;
}

.footer-tag {
  padding: 75px 20px;
	float: left;
}

.footer-list {
  padding: 75px 20px;
	float: right;
}

.footer-list > li {
	float: left;
	padding-left: 10px;
	margin-left: 5px;
}
