/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, section, nav, div, figure, ul, li, h1, h2, h3, p, footer {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
}

html, body {
  height: 100%;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

/*Sign up*/
.sign-up {
  min-width: 1140px;
  min-height: 181px;
  width: 100%;
  background: #104da1;
}

nav.sign-up-nav {
  position: relative;
  height: 181px;
  font-family: sans-serif;
  width: 1140px;
  margin: 0 auto;
	border: 2px solid red;
}

.sign-up > section.sign-up-content {
	border: 2px solid black;
  height: 300px;
  width: 1140px;
  margin: 0 auto;
}

.sign-up-heading {
	border: 2px solid orange;
	text-align: center;
	font-size: 32px;
	line-height: 32px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.sign-up-form {
	border: 2px solid yellow;
	text-align: center;
}

.sign-up-1 {
	text-align: center;
	padding: 50px 0;
}

.sign-up-1-list {
	border: 2px solid green;
	margin: auto auto;
	width: 450px;
}

.sign-up-1-list li.form-input {
	float: left;
	border: 1px solid pink;
	width: 100px;
	padding-left: 10px;
}

.prefix {
	height: 35px;
	margin-top: 15px;
	padding: 0 0;
	color: white;
}

.continue {
	height: 50px;
	width: 100px;
	background: red;
}

.dropdown > select {
	height: 50px;
	width: 100px;
	background: yellow;
}

footer.sign-up-footer {
  position: relative;
  height: 181px;
  width: 1140px;
  margin: 0 auto;
	border: 2px solid black;

}