/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, section, nav, div, figure, ul, li, h1, h2, h3, p, a, footer, button, input {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  background-color: inherit;
}

button {
  background-color: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  color: #96B4FA;
}

html, body {
  height: 100%;
  background: #2855A0;
	min-height: 1000px;
}

.group:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

/*Sign up*/

.sign-up-nav {
	min-width: 750px;
	height: 200px;
}

.main-logo {
	height: 200px;
	width: 360px;
	margin: 0 auto;
	
}

.main-logo > img {
	height: 100%;
	width: auto;
}

.sign-in-link {
	position: absolute;
	font-size: 12px;
	top: 30px;
	right: 30px;
	float: right;
	padding: 5px 10px;
	border: 1px solid #96B4FA;
}

.sign-in-link:hover {
/*	background: #1E57A3;*/
	background: red;
}

.sign-up-heading {
	text-align: center;
	padding: 20px 0;
}

.sign-up-heading > h1 {
	font-size: 25px;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.sign-up-content {
	min-height: 150px;
}

.sign-up-content > form {
	margin-top: 40px;
}

.sign-up-content-list {
	width: 500px;
	margin: 0 auto;
}

.sign-up-content-list > li {
	float: left;
	width: 100px;
	margin: 0 10px;
	height: 30px;
	text-align: center;
}

.prefix {
	padding-top: 5px;
	color: white;
}

.dropdown {
	padding-top: 5px;
}

.continue {
	background-color: #8CCD32;
	height: 100%;
	width: 100%;
	color: white;
}

.continue:hover {
	background: #abdb65;
}


.sign-up-footer {
	position: absolute;
	bottom: 0;
	height: 200px;

	width: 100%;
	background: white;
	color: black;
}

.footer-tag {
	float: left;
	margin-top: 100px;
	margin-left: 10px;
}

.footer-list {
	float: right;
	margin-top: 100px;
	margin-right: 10px;
}

.footer-list > li {
	float: left;
	border-left: 1px solid black;
	padding-left: 5px;
	margin-left: 5px;
}

