/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, section, nav, div, figure, ul, li, h1, h2, h3, p, a, footer, button, input {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  background-color: inherit;
}

button {
  background-color: inherit;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
  background: #2855A0;
  min-width: 750px;
}

body {
  font-family: sans-serif;
  color: #96B4FA;
  min-height: 850px;
  position: relative;
}

.group:after {
	display: block;
	content: "";
	clear: both;
}

/*Sign up*/

.sign-up-nav {
	position: relative;
  min-height: 200px;
}

.main-logo {
	height: 200px;
	width: 360px;
	margin: 0 auto;
  padding-top: 50px;
}

.main-logo > img {
	height: 100%;
	width: auto;
}

.sign-in-link {
	position: absolute;
	font-size: 12px;
	top: 30px;
	right: 30px;
	float: right;
	padding: 5px 10px;
	border: 1px solid #96B4FA;
}

.sign-in-link:hover {
	background: #1E57A3;
}

.sign-up-content h1 {
  padding: 20px 0 150px 0;
	font-size: 25px;
	font-weight: 80;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.sign-up-content {
  margin: 0 20px;
  height: 500px;
  text-align: center;
}

.sign-up-content > form {
  position: relative;
  text-align: center;
  height: 100%;
}

.sign-up-content-list {
	width: 500px;
  margin: auto;
}

.sign-up-content-list > li {
	float: left;
	width: 100px;
  margin-left: 10px;
	height: 30px;
	text-align: center;
}

.prefix {
	padding-top: 5px;
  padding-left: 20px;
	color: white;
}

.dropdown {
	padding-top: 5px;
}

.continue {
  border-radius: 3px;
	background-color: #8CCD32;
	height: 100%;
	width: 100%;
	color: white;
}

.continue:hover {
	background: #abdb65;
}

.sign-up-footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 150px;
  background: white;
}

.footer-tag {
  padding: 75px 20px;
	float: left;
}

.footer-list {
  padding: 75px 20px;
	float: right;
}

.footer-list > li {
	float: left;
	padding-left: 10px;
	margin-left: 5px;
}
