html, body, section, nav, div, figure, ul, li, h1, h2, h3, h4, p, a, footer, button, input {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  color: inherit;
	background-color: inherit;
}

ul {
  list-style: none;
}

textarea {
  background-color: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  font: inherit;
  color: inherit;
  background: transparent;
}

button {
  background-color: inherit;
}

a {
  text-decoration: none;
//  cursor: pointer;
}

html, body {
  height: 100%;
  background: #2855A0;
  color: #474d59;
  font-family: 'Open Sans', sans-serif;
}

.group:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.signed-in-nav {
  height: 50px;
  width: 1040px;
  margin: 0 auto;
}

.signed-in-nav > ul {
  width: 130px;
  float: right;
  margin-top: 20px;
}

.signed-in-nav-list > li {
  height: 20px;
  width: 60px;
  float:left;
  padding-left: 5px;
  color: #96B4FA;
  cursor: pointer;
}

.signed-in-nav-list > li:hover {
  color: white;
  cursor: pointer;
}

#profile-link {
  cursor: pointer;
}

//.signed-in-nav input {
//	cursor: pointer;
//}
//
//.signed-in-nav button {
//	cursor: pointer;
//}

.sidebar-logo > img {
  width: 200px;
  height: auto;
}

/*.sidebar-logo:hover {
  background: #183270;
}*/

.sidebar-list a {
  cursor: pointer;
}

main {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.sidebar {
  position: absolute;
  width: 200px;
  min-height: 400px;
  background: #142D69;
}

.sidebar > ul {
  border-bottom: 1px solid black;
}

.sidebar-list > li {
  padding: 10px 0 10px 15px;
  color: #96B4FA;
  border-top: 1px solid black;
}

.sidebar-list > li:hover {
  background-color: #183270;
  cursor: pointer;
  color: white;
}

.page-content {
  position: absolute;
  background: #F3F5F9;
  left: 200px;
  width: 800px;
  padding: 20px;
}

.section-content {
  padding-top: 30px;
}

/*PROFILE*/
.content-header {
  font-size: 30px;
}

.profile-basic-group {
  position: relative;
}

.profile-picture {
	position: relative;
  height: 160px;
  width: 160px;
  overflow: hidden;
  float: left;
	border-radius: 3px;
}

.owner-profile-picture {
  float: none;
}

.profile-picture:hover .upload-photo{
	height: 50px;
}

.profile-picture > img {
  margin: 0 auto;
  height: 160px;
  width: auto;
}

.upload-photo {
	position: absolute;
	color: white;
	bottom: 0;
	height: 0;
	width: 100%;
	background: rgba(0,0,0,.5);
	transition: height .3s;
}

.upload-photo > p {
	text-align: center;
	display: block;
	wrap-text: none;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: bold;
	background: transparent;
}

.profile-basic-info {
  margin-left: 10px;
  margin-top: 45px;
  width: 200px;
  float: left;
  padding: 10px;
}



/*.profile-basic-info:hover {
  background: white;
  cursor: pointer;
}*/

.btn-new-message {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #8CCD32;
  font-size: 15px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 3px;
  float: right;
  wrap-text: none;
}

.btn-new-message:hover {
	background: #abdb65;
};

.profile-basic-info > h1 {
  font-size: 30px;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
}

.profile-basic-info > ul {
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
}

.profile-basic-info-list > li {
  margin-right: 2px;
  float: left;
  font-size: 13px;
  color: #AFB4B4
}

.content-nav {
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #AFB4B4;
}

.content-nav-list {
  width: 240px;
}

.content-nav-list > li {
  float: left;
  color: #AFB4B4;
	margin-right: 5px;
}

.content-nav-list li a {
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  color: #474d59;
  border-bottom: white;
  cursor: pointer;
}

.content-nav-list li a:hover {
  border-bottom: 2px solid #4c7bd9;
  color: #4c7bd9;
}

.content-nav-list li a.selected {
  border-bottom: 2px solid #4c7bd9;
	cursor: default;
  color: #4c7bd9;
}

.profile-content {

}

.profile-content h3 {
  margin-bottom: 5px;
	margin-left: 10px;
}

.profile-content h4 {
	margin-bottom: 5px;
}

.profile-content p {
  font-size: 13px;
}

.profile-content li {
  font-size: 13px;
}

.profile-content-left {
	padding-top: 10px;
  width: 430px;
  float: left;
	margin-right: 20px;
}

.detailed-info {

}

.detailed-info > div {
  margin-bottom: 10px;
}

.user-summary {
	padding: 10px;
	margin-bottom: 10px;
}

/*.user-summary:hover {
	background: white;
	cursor: pointer;
}*/

.user-age-size {
  margin-bottom: 10px;
}

.user-age {
	padding: 10px;
  float: left;
  width: 150px;
}

/*.user-age:hover {
	background: white;
	cursor: pointer;
}*/

.user-size {
	padding: 10px;
  float: left;
  width: 150px;
}

.size-list {
  transform: translateX(-18%);
  margin-top: 10px;
  width: 300px;
}

.size-list > li {
  float: left;
  height: 60px;
  width: 60px;
  background: white;
}

.size-list div {
  height: 0;
  padding-top: 60px;
  overflow: hidden;
  width: 100%;
  background: url(sprites.png) no-repeat;
}

.size-list li:hover {
  box-shadow: 3px 3px 3px #eee;
  border: 2px solid #000;
  transform: translateY(-15%);
  // background: rgba(36, 29, 29, 0.57);
}

.user-size-info {
  float: left;
}

.current-size {
  float: right;
  margin-right: 30px;
  height: 0;
  padding-top: 60px;
  overflow: hidden;
  width: 60px;
  background: transparent;
}

.user-size p {
  display: block;
  float:left;
}

.Tiny {
  background: image-url("tiny.png") no-repeat;
  background-size: 35px 35px;
  background-position: 0 0;
}

.Small {
  background: image-url("small.png") no-repeat;
  background-size: 35px 35px;
  background-position: 0 0;
}

.Medium {
  background: image-url("medium.png") no-repeat;
  background-size: 50px 50px;
  background-position: 0 0;
}

.Large {
  background: image-url("large.png") no-repeat;
  background-size: cover;
}

div.Tiny{
  background: image-url("tiny.png") no-repeat;
  background-size: 35px 35px;
  background-position: 12px 23px;
}

div.Small{
  background: image-url("small.png") no-repeat;
  background-size: 35px 35px;
  background-position: 12px 20px;
}


div.Medium{
  background: image-url("medium.png") no-repeat;
  background-size: 50px 50px;
  background-position: 9px 13px;
}

div.Large{
  background: image-url("large.png") no-repeat;
  background-size: cover;
}

.detailed-info textarea {
	border: 1px solid #ccc;
	padding: 5px 10px;
}

.detailed-info input {
	border: 1px solid #ccc;
	padding: 5px 10px;
	width: 20px;
}

.modal input {
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin-top: 10px;
}

.modal select {
	margin-top: 10px;
}

.modal input[type=checkbox] {
	display: inline;
	background: red;
}

.user-play_style-energy_level {
}

.user-play_style {
	padding: 10px;
  float: left;
  width: 150px;
}

.detailed-info button {
  color: white;
  cursor: pointer;
  padding: 5px;
	width: 70px;
	margin-top: 5px;
  border-radius: 3px;
}

.modal-btn {
  color: white;
  cursor: pointer;
  padding: 5px;
	width: 70px;
	margin-top: 10px;
  border-radius: 3px;
}

button.save {
  background-color: #2855A0;
}

button.save:hover {
	background-color: #4C7BD9;
}

button.cancel {
	color: #474d59;
	border: 1px solid #ccc;
	background-color:  #EBEEF2;
}

button.cancel:hover {
	background-color: #F3F5F9;
}

/*.user-play_style:hover {
	background: white;
	cursor: pointer;
}*/

.clickable:hover {
  background: white;
  cursor: pointer;
  box-shadow: 3px 3px 1px #eee;
}

.clicked {
  background: white;
  cursor: pointer;
  box-shadow: 3px 3px 1px #eee;
}

.clickable:hover > * {
  cursor: pointer;
}

.user-energy_level {
	padding: 10px;
  float: left;
  width: 150px;
}

/*.user-energy_level:hover {
	background: white;
	cursor: pointer;
}*/

.profile-content-right {
  width: 350px;
  float: left;
}

.profile-content h3 {
  border-bottom: 1px solid #AFB4B4;
	margin-bottom: 15px;
}

.looking-for {
	padding: 10px;
	margin-right: 20px;
}

.looking-for > ul {
	padding: 10px;
}

/*.looking-for:hover {
	background: white;
	cursor: pointer;
}*/

.owner-info {
	padding: 10px;
  margin-top: 10px;
	margin-right: 20px;
}

/*.owner-info:hover {
	background: white;
	cursor: pointer;
}*/

.owner-info > ul {
	padding: 10px;
}

.matches-content h1 {

}

.matches-list {
}

.matches-list > li {
  display: block;
  float: left;
  margin: 10px 10px 0 0;
  overflow: hidden;
  width: 250px;
  background: white;
}

.matches-list > li:hover {
  box-shadow: 2px 2px 2px #eee
}

.matches-list > li:hover .match-photo {
  height: 220px;
}

.matches-list > li:hover .match-photo > img {
  height: 100%;
  top: -5%;
}

.matches-list > li:hover .match-summary {
  margin-top: -20px;
}

.match-photo {
  height: 200px;
  overflow: hidden;
  transition: height 0.3s;
}

.match-photo > img {
  position: relative;
  top: 0;
  width: auto;
  height: 110%;
  transition: height 0.3s, top 0.3s;
}

.match-summary {
  width: 250px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  transition: margin-top .3s;

}

.match button {
  background-color: inherit;
  cursor: pointer;
}

.match-summary h3 {
  font-size: 30px;
  margin-bottom: 4px;
}

/*INBOX*/
.messagers-list {

}



.messagers-list > li {
  margin-top: 5px;
  margin-bottom: 20px;
}

.user-banner > a {
  display: block;
  cursor: pointer;
}

.user-banner > a:hover {
  background: white;
}

.user-banner-photo {
  width: 100px;
  height: 100px;
  float: left;
  overflow: hidden;
}

.user-banner-photo > img {
  height: 100%;
  width: auto;
}

.match-summary {
  float: left;
  // margin-left: 20px;
  height: 50px;
  background: inherit;
}


/*CONVERSATION*/

.conversation {
  margin-top: 30px;
}

.conversation-list {
/*  background: yellow;*/

}

.conversation-list > li {
  margin-bottom: 10px;
}

.message > a {
  display: block;
  cursor: pointer;
}

.message > a:hover {
  background: white;
}


.user-banner-photo {
  float: left;
  border-radius: 50%;
}

.user-banner-photo > img {
}

.message-body {
  padding: 5px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  width: 600px;
  min-height: 50px;
  padding: 20px 20px;

  background: white;
}

.message-body > p {

}

.btn {
  background-color: #8CCD32;
  color: white;
  cursor: pointer;
  padding: 10px 40px;
  border-radius: 3px;
}

.btn-send {
  background-color: #8CCD32;
  margin-top: 10px;
  outline: 0;
}

.btn-send:hover {
  background-color: #abdb65;
}


.new-message {
  background: #EBEDF2;
  padding: 30px 30px;

}

.new-message > textarea {
  min-height: 100px;
  width: 95%;
  background: white;
  // background: rgba(36, 29, 29, 0.57);
  padding: 10px 10px;
  border: 1px solid #ccc;
}

.new-message-modal {
  padding: 5px;
  float: left;
  width: 350px;
  min-height: 50px;
  padding: 20px 20px;
  background: #EBEDF2;
  border: 1px solid #ccc;
  // background: rgba(36, 29, 29, 0.57);
  margin-top: 20px;
}

.new-message-modal > textarea {
  min-height: 100px;
  width: 95%;
  background: white;
  padding: 10px 10px;
  border: 1px solid #ccc;
}



/*EDIT MODALS*/
.modal {
	display: none;
}

.message-modal {
  display: none;
}

.message-modal-content {
  position: absolute;
  z-index: 1000;
  top: 10%;
  left: 50%;
  width: 400px;
  padding: 50px;
  // margin-left: -250px;
  transform: translateX(-50%);
  // transform: translateY(-50%);
  background: white;
  border: 2px solid #eee;
  border-radius: 5px;
}

.modal.is-active {
	display: block;
}

.modal-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0,0,0,0.7);
}

.modal-content {
	position: absolute;
	z-index: 1000;

	top: 50%;
	left: 50%;

	width: 400px;
	padding: 50px;

	margin-left: -250px;
	transform: translateY(-50%);

	background: white;
	border-radius: 5px;
}

.modal-close {
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
	color: gray;
}

.modal-close:hover {
	color: black;
}

.inactive {
  display: none;
}
