html, body, section, nav, div, figure, ul, li, h1, h2, h3, h4, p, a, footer, button, input {
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

input,
textarea {
  background-color: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  font: inherit;
  color: inherit;
  background: transparent;
}

button {
  background-color: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

html, body {
  height: 100%;
  background: #2855A0;
  color: #474d59;
}

.group:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.signed-in-nav {
  height: 50px;
  width: 1000px;
  margin: 0 auto;
}

.signed-in-nav > ul {
  width: 150px;
  float: right;
  margin-top: 20px;
}

.signed-in-nav-list > li {
  height: 20px;
  width: 60px;
  float:left;
  padding-left: 5px;
  color: #96B4FA;
}

.signed-in-nav-list > li:hover {
  color: white;
  /*cursor: crosshair;*/
}

.sidebar-logo > img {
  width: 200px;
  height: auto;
}

.sidebar-logo:hover {
  background: #183270;
  cursor: pointer;
}

main {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.sidebar {
  position: absolute;
  width: 200px;
  min-height: 400px;
  background: #142D69;
}

.sidebar > ul {
  border-bottom: 1px solid black;
}

.sidebar-list > li {
  padding: 10px 0 10px 15px;
  color: #96B4FA;
  border-top: 1px solid black;
}

.sidebar-list > li:hover {
  background-color: #183270;
  cursor: pointer;
  color: white;
}

.page-content {
  position: absolute;
  background: #F3F5F9;
  left: 200px;
  width: 800px;
  padding: 20px;
}

.section-content {
  padding-top: 30px;
}

/*PROFILE*/
.content-header {
  font-size: 30px;
}

.profile-basic-group {
}

.profile-picture {
  height: 160px;
  width: 160px;
  overflow: hidden;
  float: left;
}

.profile-picture > img {
  margin: 0 auto;
  height: 160px;
  width: auto;
}

.profile-basic-info {
  margin-left: 10px;
  margin-top: 45px;
  width: 200px;
  float: left;
  padding: 10px;
}

.profile-basic-info:hover {
  background: white;
}

.profile-basic-info > h1 {
  font-size: 30px;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
}

.profile-basic-info > ul {
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
}

.profile-basic-info-list > li {
  margin-right: 2px;
  float: left;
  font-size: 13px;
  color: #AFB4B4
}

.content-nav {
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #AFB4B4;
}

.content-nav-list {
  width: 200px;
}

.content-nav-list > li {
  width: 80px;
  float: left;
  color: #AFB4B4
}

.content-nav-list li a {
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  color: #474d59;
  border-bottom: white;
}

.content-nav-list li a:hover {
  border-bottom: 2px solid #4c7bd9;
  color: #4c7bd9;
}

.profile-content {

}

.profile-content h3 {
  margin-bottom: 5px;
	margin-left: 10px;
}

.profile-content h4 {
	margin-bottom: 5px;
}

.profile-content p {
  font-size: 13px;
}

.profile-content li {
  font-size: 13px;
}

.profile-content-left {
	padding-top: 10px;
  width: 430px;
  float: left;
	margin-right: 20px;
}

.detailed-info {

}

.detailed-info > div {
  margin-bottom: 10px;
}

.user-summary {
	padding: 10px;
	margin-bottom: 10px;
}

.user-summary:hover {
	background: white;
	cursor: pointer;
}

.user-age-size {
  margin-bottom: 10px;
}

.user-age {
	padding: 10px;
  float: left;
  width: 150px;
}

.user-age:hover {
	background: white;
	cursor: pointer;
}

.user-size {
	padding: 10px;
  float: left;
  width: 150px;
}

.user-size:hover {
	background: white;
	cursor: pointer;
}

.user-play_style-energy_level {
}

.user-play_style {
	padding: 10px;
  float: left;
  width: 150px;
}

.user-play_style:hover {
	background: white;
	cursor: pointer;
}

.user-energy_level {
	padding: 10px;
  float: left;
  width: 150px;
}

.user-energy_level:hover {
	background: white;
	cursor: pointer;
}

.profile-content-right {
  width: 350px;
  float: left;
}

.profile-content h3 {
  border-bottom: 1px solid #AFB4B4;
	margin-bottom: 15px;
}

.looking-for {
	padding: 10px;
	margin-right: 20px;
}

.looking-for > ul {
	padding: 10px;
}

.looking-for:hover {
	background: white;
	cursor: pointer;
}

.owner-info {
	padding: 10px;
  margin-top: 10px;
	margin-right: 20px;
}

.owner-info:hover {
	background: white;
	cursor: pointer;
}

.owner-info > ul {
	padding: 10px;
}

.matches-content h1 {

}

.matches-list {
  background: red;
}

.matches-list > li {
  float: left;
  margin: 10px 10px 0 0;
  width: 250px;
  background: white;
}

/*.match > figure {
  height: 150px;
  width: 150px
  overflow: hidden;
}

.match > figure:hover {
  height: 170px;
  overflow: hidden;
}*/

.match-photo {
  height: 200px;
  overflow: hidden;
}

.match-photo > img {
  width: auto;
  height: 100%;
}

.match-summary {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.match button {
  background-color: inherit;
  cursor: pointer;
}

.match-summary h3 {
  font-size: 30px;
  margin-bottom: 4px;
}

/*INBOX*/
.messagers-list {

}

.messagers-list > li {
  margin-top: 5px;
  margin-bottom: 20px;
}

.user-banner > a {
  display: block;
}

.user-banner > a:hover {
  background: white;
}

.user-banner-photo {
  width: 100px;
  height: 100px;
  float: left;
  overflow: hidden;
}

.user-banner-photo > img {
  height: 100%;
  width: auto;
}

.match-summary {
  float: left;
  margin-left: 20px;
  height: 50px;
  background: inherit;
}


/*CONVERSATION*/

.conversation {
  margin-top: 30px;
}

.conversation-list {
/*  background: yellow;*/

}

.conversation-list > li {
  margin-bottom: 10px;
}

.message > a {
  display: block;
}

.message > a:hover {
  background: white;
}


.user-banner-photo {
  float: left;
  border-radius: 50%;
}

.user-banner-photo > img {
}

.message-body {
  padding: 5px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  width: 600px;
  min-height: 50px;
  padding: 20px 20px;

  background: white;
}

.message-body > p {

}

.btn {
  background-color: #8CCD32;
  color: white;
  cursor: pointer;
  padding: 10px 40px;
  border-radius: 3px;
}

.btn-send {
  background-color: #8CCD32;
  margin-top: 10px;
}

.btn-send:hover {
  background-color: #abdb65;
}


.new-message {
  background: #EBEDF2;
  padding: 30px 30px;
}

.new-message > textarea {
  min-height: 100px;
  width: 95%;
  background: white;
  padding: 10px 10px;
}

/*EDIT MODALS*/
.modal {
	display: none;
}

.modal.is-active {
	display: block;
}

.modal-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0,0,0,0.7);
}

.modal-content {
	position: absolute;
	z-index: 1000;

	top: 50%;
	left: 50%;

	width: 400px;
	padding: 50px;

	margin-left: -250px;
	transform: translateY(-50%);

	background: white;
	border-radius: 5px;
}

.modal-close {
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 40px;
	font-weight; bold;
	cursor: pointer;
	color: gray;
}

.modal-close:hover {
	color: black;
}

.inactive {
  display: none;
}
